.skills__list {
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skills__list-item {
    margin: 0.5em;
    transition: transform 0.2s linear;
  }

  .skills__list-item:hover{
    transform: translateY(-7px);
  }